**Operations Research in Action &#x25aa; Fall 2024**

# Project 2 &ndash; Model and Results &ndash; Part 1

__To prepare the data for modeling:__

__1. Use Python to read the wide form of the stint data into a Pandas DataFrame.__

__2. Add the plus-minus per minute for each stint to the DataFrame.__

__3. Output the DataFrame to a CSV file so that you can read it using R.__

In [1]:
# Solution
import pandas as pd

In [2]:
# Solution
stint_df = pd.read_csv('data/stint_data_wide.csv')

stint_df.head()

,game_id,stint_id,h_team,a_team,minutes,h_goals,a_goals,USA_p1,USA_p2,USA_p3,...,Chile_p3,Chile_p4,Chile_p5,Chile_p6,Chile_p7,Chile_p8,Chile_p9,Chile_p10,Chile_p11,Chile_p12
0,1,1,USA,Japan,4.252969,4,9,1,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,2,USA,Japan,5.688809,6,11,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,USA,Japan,1.149557,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,4,USA,Japan,3.511617,7,5,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,5,USA,Japan,2.163139,7,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# Solution
stint_df['pm'] = (stint_df['h_goals'] - stint_df['a_goals']) / stint_df['minutes']

stint_df.head()

,game_id,stint_id,h_team,a_team,minutes,h_goals,a_goals,USA_p1,USA_p2,USA_p3,...,Chile_p4,Chile_p5,Chile_p6,Chile_p7,Chile_p8,Chile_p9,Chile_p10,Chile_p11,Chile_p12,pm
0,1,1,USA,Japan,4.252969,4,9,1,0,1,...,0,0,0,0,0,0,0,0,0,-1.175649
1,1,2,USA,Japan,5.688809,6,11,1,0,0,...,0,0,0,0,0,0,0,0,0,-0.878919
2,1,3,USA,Japan,1.149557,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,-0.869901
3,1,4,USA,Japan,3.511617,7,5,0,1,0,...,0,0,0,0,0,0,0,0,0,0.569538
4,1,5,USA,Japan,2.163139,7,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0.924582

In [4]:
# Solution
stint_df.to_csv('stint_data_wide_pm.csv', index=False)